.header{
    background-color: #333;
    color: #fff;
    padding: 0 10%;
    text-align: center;
    width: 100%;
}
.main{
    padding: 0 10%;
    width: 100%;
    color: #e60303;
    text-align: center;

}